.AddMessageMenu {
  display: flex;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  line-height: 25px;
}
.AddMessageMenu > * {
  margin-right: 5px;
}
.AddMessageMenu > *:last-child {
  margin-right: 0;
}
.AddMessageMenu input {
  flex-grow: 1;
  padding: 3px;
  border: 1px solid #777;
  min-width: 40px;
}

.AddMessageMenu-postBtn {
  font-size: 0;
  height: 25px;
  width: 34px;
  min-width: 34px;
  border: none;
  background: url(../../assetts/images/ic-post.png) 50% 50% no-repeat;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.AddMessageMenu-postBtn:hover {
  transform: scale(0.98);
}
.AddMessageMenu-postBtn:active {
  transform: scale(0.93);
}