.Message {
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  line-height: 18px;
}
.Message > * {
  margin-right: 5px;
}
.Message > *:last-child {
  margin-right: 0;
}

.Message-time {
  font-size: 12px;
  background-color: #ccc;
  border-radius: 3px 3px 0 0;
  padding: 3px;
}

.Message-author {
  font-weight: bold;
}