.Chat {
  padding-top: 51px;
  position: relative;
}
.Chat >:first-child {
  position: fixed;
  width: 100%;
  height: 46px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 15px;
}
.Chat >:last-child {
  margin: 0 -15px;
  padding: 5px 15px;
}